{% extends 'base.html' %}
{%load static %}
{%block title%} VOTO ELECTRONICO {%endblock%}
{%block principal%}
    <section class="container">
        <p class="usuario btn waves-effect waves-light grey darken-4 lighten-2">Usuario: <mark> {{persona.nombres_completos}}</mark></p>
        <h3>{{title}}</h3>
    </section>
        <main>
        <div class="container candidatos" > 
                {%for lista in listas%}
                <div class="componente">
                    <b>({{lista.nombre}}) </b><br>{{lista.representante.persona.nombres_completos}}
                    <img src="{{lista.representante.imagen.url}}" alt="{{lista.representante.persona}}">
                    <p>{{lista.representante.cargo|upper}}</p>
                    <form class="form" method="post">
                        {% csrf_token %}
                        <div onmouseout="votoout(this)" onclick="eleccion('{{lista.nombre}} ({{lista.representante.persona.nombres_completos}})', this);" onmouseover="voto(this)" class="caja">
                            <hr class="raya">  <hr> 
                        </div>
                        <input type="hidden" name="action" value="guardar_voto"> 
                        <input type="hidden" name="persona" value="{{persona.id}}"> 
                        <input type="hidden" name="lista" value="{{lista.id}}"> 
                    </form>
                </div>
                {%endfor%}  
                
                {%for otro in listas_bn %}
                <div class="componente">
                    <b>(VOTO) </b><br>{{otro.voto}}
                    <img src="{{otro.img}}" alt="{{otro.voto}}">
                    <p>{{otro.voto}}</p>
                    <form method="post">
                        {% csrf_token %}
                        <div onmouseout="votoout(this)" onclick="eleccion('{{otro.voto}}', this);" onmouseover="voto(this)" class="caja">
                            <hr class="raya">  <hr> 
                        </div>  
                        <input type="hidden" name="action" value="guardar_voto"> 
                        <input type="hidden" name="persona" value="{{persona.id}}"> 
                        <input type="hidden" name="lista" value="nulo"> 
                    </form>
                </div>
                {%endfor%}
            
        </div>
        </main>
{%endblock%}


{%block javascript %}
    <script>
    /* import Swal from 'sweetalert2'
    const Swal = require(sweetalert2)*/
    const url = window.location.href;
    const caja=document.querySelector(".caja");
    caja.addEventListener('mouseover',(e)=>{
    });
    function voto (e){

        e.children[0].style.display="block";
        e.style.cursor="pointer";
    }
    function votoout(e){
        e.children[0].style.display="none";
    }

    function eleccion(lista,form){
        formVoto = form.parentNode
        Swal.fire({
            title: `¿Esta seguro de votar por: \n ${lista}?`,
            showDenyButton: true,
            confirmButtonText: "SI",
            denyButtonText: `NO`,
            icon: "info"
            }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                Swal.fire("Voto Guardado", "", "success");
                setInterval(() =>{
                    formVoto.submit();
                },2000)                
            }
            //location.href=url+"?u="+usuario+"&c="+lista;
            });
    }
</script>
{%endblock%}
