{% extends 'base.html' %}
{%block principal%}
  <main class="marco-login container">
    <div class="row">
      <div class="col s12 m6"> 
          
          <div class="card-panel caja-login">
            <form  method="post" autocomplete="off">
              {% csrf_token %}
                <br/>
                <label class="flow-text" for="">Ingrese su identificaión</label>
                <div>
                  <input type="text" name="user" id="user" placeholder="Escriba su Usuario" required>
                </div>
                <div>
                        <input class="flow-text" type="password" placeholder="******" name="pass" required id="pass" maxlength="10" value="">
                </div>
                    <input class="waves-effect waves-light btn" type="submit" value="Ingresar">
                    {%for msn in messages%}
                      {{ msn.tag }}
                    {%endfor%}
                    {%if error%}
                    <div class="alert notification">
                      {{error}}
                    </div>
                    {%endif%}
            </form>
          </div>
         
        </div>
      </div>
     
      
  </main>
{%endblock%}

{%block javascript %}
{%endblock%}

    
      