body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.marco-login{
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 100%; 
  
}
.row .col .caja-login{           
    text-align: center;
   
    width: 400px;
    border-radius: 15px;

    
}
.row .col .caja-login input,label{
    
    text-align: center;
    margin-top: 6px;
}
#pass{
  font-size: 20px;
}
.nav{
    border: 1px solid white; 
    text-align: center;
    font-size: 18pt;
}
.alert{
    display: block;
    text-align: center;
    background-color: bisque;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    color: rgb(238, 110, 115);
    font-weight: bold;
}

.notification {
    animation: fadeOut 10s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.contenedor-botones{
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
   }
.btn{
    border-radius: 6px;
}